*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
}

:root {
    /* color parameters */
    --clr-dark: 240 3% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-key-text: 204, 7%, 85%;
    --clr-correct : 115 29% 43%;
    --clr-present : 49 51% 47%;
    --vh: 1vh;
}

body {
    background-color: hsl(var(--clr-dark));
    background-size: 100vw 100vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: hsl(var(--clr-dark));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* min-height: 90vh; */
    /* max-height: 100vh; */
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    transition: background-color 5s ease;
}

.header {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(var(--clr-white) / 0.3);
    text-align: center;
    width: 80vw;
    max-width: 600px; 
}

.title {
    color: hsla(var(--clr-white) / 0.8);
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(2rem, 4vmin, 4rem);
    padding: 0 4rem 0 4rem;
    letter-spacing: 0.2rem;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.stats-btn-container {
    cursor: pointer;

}

.stats-btn {
    background-color: inherit;
    border: none;
    fill: hsla(var(--clr-white) / 0.3);
    cursor: pointer;
    z-index: 1;
}

.stats-btn > svg {
    pointer-events: none;
    cursor: pointer;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(20,minmax(auto, 1.5em));
    grid-auto-rows: 4rem;
    gap: 0.4em;
    justify-content: center;
    padding-bottom: 2rem;
    padding-inline: 0.5rem;
    font-size: clamp(.5rem, 2.8vmin, 1.2rem);
    flex: 1;
    touch-action: manipulation;
}

@media only screen and (max-width: 600px) {
    .keyboard {
        gap: 0.5em;
        grid-auto-rows: 3.8rem;
        padding-inline: 0.3rem;
    }
}

.key {
    color: hsl(var(--clr-key-text));
    background-color: hsl(
        var(--hue, 200), 
        var(--saturation, 1%), 
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    font-size: inherit;
    font-weight: bold;
    grid-column: span 2;
    border: none;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: hsl(var(--clr-key-text));
    border-radius: 0.35rem;
    text-transform: uppercase;
    cursor: pointer;
    /* don't allow text highlighting */
    user-select: none; 
    touch-action: manipulation;
    transition: transform 150ms ease-in-out;
}

.key.flip {
    transform: rotateX(90deg);
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    width: 1.75em;
    height: 1.75em;
    pointer-events: none;
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.absent {
    --hue: 240;
    --saturation: 2%;
    --lightness: 23%
}

.key.present {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%
}

.guess-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(3.5rem, 3.5vw));
    grid-auto-rows: minmax(3.5rem, 3.5vw);
    gap: 0.25em;
    justify-content: center;
    align-content: center;
    flex: 1;
    padding: 1.5rem;
    max-width: 80vw;
}

@media only screen and (max-width: 600px) {
    .guess-grid {
        gap: 0.5em;
    }
}

.tile {
    border: 0.1rem solid hsla(var(--clr-white) / 0.3);
    color: hsl(var(--clr-key-text));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5em, 2.5vmin, 2em);
    font-weight: bold;
    background-color: hsl(
        var(--hue, 240), 
        var(--saturation, 3%), 
        calc(var(--lightness-offset, 0%) + var(--lightness, 7%))
    );
    user-select: none;
    text-transform: uppercase;
    transition: transform 250ms ease-in-out;
}

@media only screen and (max-width: 600px) {
    .tile {
        font-size: clamp(0.5em, 5vmin, 2em);
    }
}

.tile.active {
    border-color: hsla(var(--clr-white) / 0.55);
}

.tile.new {
    animation: add-letter 150ms ease-in-out;
}

@keyframes add-letter {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.tile.shake {
    animation: shake 550ms ease-in-out;
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }
    20% {
        transform: translateX(5%);
    }
    30% {
        transform: translateX(-7.5%);
    }
    40% {
        transform: translateX(7.5%);
    }
    50% {
        transform: translateX(-7.5%);
    }
    60% {
        transform: translateX(7.5%);
    }
    70% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
    }
}

.tile.flip {
    transform: rotateX(90deg);
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

.key.dance {
    animation: dance 2500ms ease-in-out;
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(5%);
    }
    60% {
        transform: translateY(-25%);
    }
    80% {
        transform: translateY(2%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

.tile.absent {
    --hue: 240; 
    --saturation: 2%;
    --lightness: 23%;
    border: none;
}

.tile.present {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
    border: none;
}

.tile.correct {
    --hue: 115;
    --saturation: 29%;
    --lightness: 43%;
    border: none;
}

@keyframes rotate {
   0% {
       transform: rotateZ(0deg);
   }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.alert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    gap: 0.5rem;
    z-index: 200;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsla(var(--clr-white) / 0.86);
    color: hsl(var(--clr-dark));
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.alert.hide {
    opacity: 0;
}

.modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 100;
}

.modal.hide {
    opacity: 0;
    pointer-events: none;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(var(--clr-key-text));
    max-width: 80vw;
    position: relative;
    background: hsl(var(--clr-dark));
    border-radius: 0.5rem;
    padding: 1rem;
}

.modal-exit {
    fill: hsl(var(--clr-key-text));
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    cursor: pointer;
}

.modal-title {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.7rem, 5.2vmin, 1rem);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

#stats-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    padding-bottom: 1rem;
    width: 100%;
}

.stats-container {
    display: flex;
    flex-direction: column;
}

.stat {
    font-size: clamp(1rem, 5.2vmin, 1.7rem);
    font-weight: bold;
}

.stat-label {
    padding-top: 0.1rem;
    font-size: clamp(0.7rem, 2.2vmin, 0.85rem);
}

#graph {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.bar-container {
    display: flex;
    margin: 0.2rem 0;
}

.bar-label {
    padding: 0.1rem 0.4rem 0.1rem 0;
}

.bar-bar {
    display: flex;
    align-items: center;
    background-color: hsla(var(--clr-white) / 0.3);
    padding: 0.1rem 0.4rem;
    justify-content: flex-end;
    font-weight: bold;
    /* font-size: 1rem; */
}

.bar-bar.current {
    background-color:hsl(115, 29%, 43%);
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.footer-title {
    font-weight: bold;
}

#countdown {
    font-size: clamp(1rem, 6.2vmin, 2.5rem);
}

#share-btn {
    background-color:hsl(115, 29%, 43%);
    color: hsl(var(--clr-key-text));
    fill: hsl(var(--clr-key-text));
    border: none;
    border-radius: 0.3rem;
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: clamp(1rem, 1.2vmin, 1.5rem);
    cursor: pointer;
}

#share-btn > svg {
    margin-left: 0.5rem;
}

footer {
    color: hsla(var(--clr-white) / 0.4);
    font-size: clamp(0.5rem, 1.4vmin, 0.8rem);
    position: fixed;
    bottom: 0.7rem;
}

footer > a {
    text-decoration: none;
    color: hsla(var(--clr-white) / 0.4);
}

#crack-modal {
    background-color: transparent;
    pointer-events: none;
}

#crack-modal #secret-modal-close-btn {
    pointer-events: visible;
}

#crack1 {
    width: 60%;
    max-width: 900px;
    position: fixed;
    top: 10%;
    right: 5%;
    transform: rotateZ(70deg);
}

#crack2 {
    width: 100%;
    position: fixed;
    bottom: 1%;
    transform: rotateZ(70deg);
}

/* wanted poster */
.wanted {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    max-height: 90vh;
    max-width: 90vw;
    pointer-events: visible;
    cursor: pointer;
}

/* astronaut image */
.astro {
    position: fixed;
    z-index: 100;
    top: 5%;
    left: 2%;
    animation: float 100s linear;
    animation-iteration-count: 1;
    height: 20vh;
}

@keyframes float {
    100% {
        transform: translate(100vw, 100vh) rotateZ(-360deg);
    }
}

.secret-div {
    position: fixed;
    top: 7.5%;
    color: hsla(var(--clr-white) / 0.5);
    font-size: clamp(0.7rem, 1.2vmin, 1rem);
    font-weight: bold;
}

.secret-div > a {
    color:rgb(173, 58, 58);
    font-size: inherit;
}

.snowflake {
    position: fixed;
    z-index: 100;
    top: -10%;
    animation: fall 30s linear;
    animation-iteration-count: 1;
    height: 5vh;
}

@keyframes fall {
    100% {
        transform: translateY(120vh);
    }
}

.text-overlay {
    color: pink;
    z-index: 101;
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: -17%;
    text-align: center;
}

.gif {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
    z-index: 100;
    pointer-events: visible;
    cursor: pointer;
}

.found-secret-msg-container {
    display: none;
    animation: multicolor 5000ms infinite alternate;
    transition: color 100ms ease-in-out;
    font-size: clamp(1rem, 2vmin, 2rem);
    text-transform: uppercase;
    font-weight: bold;
}

@keyframes multicolor {
    0% {
        color: blue;
    }
    10% {
        color: #8e44ad;
    }
    20% {
        color: #1abc9c;
    }
    30% {
        color: #d35400;
    }
    40% {
        color: red;
    }
    50% {
        color: #34495e;
    }
    60% {
        color: green;
    }
    70% {
        color: #2980b9;
    }
    80% {
        color: #f1c40f;
    }
    90% {
        color: #2980b9;
    }
    100% {
        color: pink;
    }
}

@keyframes multicolor-bg {
    0% {
        background-color: blue;
    }
    10% {
        background-color: #8e44ad;
    }
    20% {
        background-color: #1abc9c;
    }
    30% {
        background-color: #d35400;
    }
    40% {
        background-color: red;
    }
    50% {
        background-color: #34495e;
    }
    60% {
        background-color: green;
    }
    70% {
        background-color: #2980b9;
    }
    80% {
        background-color: #f1c40f;
    }
    90% {
        background-color: #2980b9;
    }
    100% {
        background-color: pink;
    }
}

.blur {
    background: hsl( var(--clr-white) / 0.05);
    backdrop-filter: blur(0.3rem);
}

#version-modal > .modal-container {
    width: 35rem;
    padding: 4.5rem 1rem 4.5rem 1rem;
}

@media only screen and (max-width: 600px) {
    #version-modal > .modal-container {
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
}

.modal-announcement {
    color: hsl(var(--clr-present));
    /* color: rgb(173, 58, 58); */
    font-weight: bold;
    font-size: clamp(1rem, 7vmin, 3rem);
    letter-spacing: 0.12rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsla(var(--clr-white) / 0.3);
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .modal-announcement {
        font-size: 1.5rem;
    }
}

#version-modal .modal-title {
    color: hsl(var(--clr-correct));
    padding: 3.5rem 0 2.5rem 0;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    #version-modal .modal-title {
        font-size: 1.1rem;
        padding: 2.5rem 0 1.5rem 0;
    }
}

#version-modal .version-modal-content {
    text-align: center;
    max-width: 70%;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    #version-modal .version-modal-content {
        max-width: 90%;
        font-size: 1.1rem;
    }
}

#version-modal .guess-grid {
    padding: 3rem 0 3rem 0;
}

@media only screen and (max-width: 600px) {
    #version-modal .guess-grid {
        transform: scale(0.8);
        padding: 1.5rem 0 1.5rem 0;
    }
}